PATH_add node_modules/.bin/

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/deta_image_storage_db?schema=public"
VITE_DETA_SPACE_PROJECT_KEY='b00dv493_mf5fu8TzS8dF9wZNuMJ9sHTGH568KHSF'
# VITE_DETA_SPACE_PROJECT_KEY='SSqwaHzG_PUbLiqkoMSCCYjsdb2rYjcTDQ4uKVMd4'
VITE_DETA_SPACE_DRIVE_NAME='deta-image-storage'
VITE_DETA_SPACE_PROJECT_ID='b00dv493'